body {
    margin-top: 5%;
}

.navbar-header {
    font-family: 'THSarabunNewRegular';
    font-style: normal;
    font-size: 24pt;
    font-weight: bold;

}
.logo {
    color: white;
}

.container {
    text-align: center;
}

li {
    /*Font from open-source library*/
    color: red;
    font-family: 'THSarabunNewRegular';
    font-style: normal;
    list-style-type: none;
    font-size: 20pt;
}

fieldset {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.editor-field {
    margin-bottom: 20px;
}

    .editor-field :hover {
        background-color: #B0C4DE;
    }

.editor {
    width: 400px;
    border-color: midnightblue;
}

.editor-label, h2, legend {
    color: midnightblue;
    font-weight: bold;
    /*Font from open-source library*/
    font-family: 'THSarabunNewRegular';
    font-style: normal;
}

.editor-label {
    font-size: 16pt;
}

p {
    padding: 10px;
}

.submit {
    width: 250px;
    font-weight: bold;
    background-color: white;
    color: midnightblue;
    /*Font from open-source library*/
    font-family: 'THSarabunNewRegular';
    font-size: 16pt;
    font-style: normal;
    border-color: midnightblue;
}

    .submit:hover {
        font-weight: bold;
        background-color: midnightblue;
        font-family: 'THSarabunNewRegular';
        font-size: 16pt;
        border-color: white;
        color: white;
    }

footer {
    color: lightblue;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


.field-validation-error {
    color: red;
    display: block;
    font-family: 'THSarabunNewRegular';
    font-size: 11pt;
    font-weight: bold;
}